body{
    background-color: black;
    text-align: center;
}

h1 {
    color: antiquewhite;
}

h6 {
    color: antiquewhite;
}

ul {
    color: aliceblue;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

li img {
    width: 30px;
    height: 30px;
}
li {
    transition: 0.3s;
}
li:hover{
    color: rgb(217, 235, 18);
    font-size: 20px;

}